@page
@model TrabSenac.dados_pessoaisModel
@{
    ViewData["Title"] = "dados_pessoais";
}


@if (Model.Usuario == null)
{
    <h3>Usuário não encontrado.</h3>
}
else
{
    
    <h3> Seus dados: </h3>

    <div class="form-group">
        <label for="nome">Nome:</label>
        <input type="text" class="form-control"  id="nome" readonly value="@Model.Usuario.Nome" />
    </div>

    <div class="form-group">
        <label for="cpf">CPF:</label>
        <input type="text" class="form-control" id="cpf" readonly value="@Model.Usuario.CPF">
    </div>

    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" readonly value="@Model.Usuario.Email">
    </div>

    <div class="form-group">
        <label for="tel">Telefone:</label>
        <input type="text" class="form-control"  id="tel" readonly value="@Model.Usuario.Telefone" />
    </div>


}

